body{
    background-color: #222222;
}

#runner{
    background:url(../img/walking.png);

    width: 190px;
    height: 354px;
    animation:walk 1s steps(8) infinite,
                forward 6s linear infinite;

}

@keyframes walk{
    0%{background-position: 0px;
    }
    100%{background-position: 1492px;
    }

}

@keyframes forward{
    0%{transform:translateX(0px);}
    100%{transform:translateX(1200px);}
}
