body{
    background-color: #222222;
}

#runner{
    background:url(../img/walking.png);

    width: 190px;
    height: 354px;
    animation:walk 1s steps(9) infinite,
                forward 5s linear infinite;

}

@keyframes walk{
    0%{background-position: 50px;
    }
    100%{background-position: 1696px;
    }

}

@keyframes forward{
    0%{transform:translateX(-100px);}
    100%{transform:translateX(1200px);}
}
